{% extends 'users/base.html' %}

{% block content %}
    <h2>Login Form</h2>
    <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="{{ form.username.id_for_label }}">Name</label>
            <input type="text" name="username">
        </div>

        <div>
            <label for="{{ form.password.id_for_label }}">Password</label>
            <input type="password" name="password">
        </div>

        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
{% endblock %}